**/.direnv/
*.env*
.cache/
.dev.vars
.pnp.*
.pre-commit-config.yaml
.react-router/
.wrangler/
.yarn/
build/
deb.db
generated/
node_modules/
result*

!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/sdks/
!.yarn/versions/
