@font-face {
    font-family: 'Noto Sans Mono CJK JP';
    src: url('NotoSansMonoCJKjp-Bold.eot'); /* IE9 */
    src: url('NotoSansMonoCJKjp-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('NotoSansMonoCJKjp-Bold.woff2') format('woff2'), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */ url('NotoSansMonoCJKjp-Bold.woff') format('woff'), /* chrome, firefox */ url('NotoSansMonoCJKjp-Bold.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('NotoSansMonoCJKjp-Bold.svg#NotoSansMonoCJKjp-Bold') format('svg'); /* iOS 4.1- */
    font-style: normal;
    font-weight: bold;
}


