@charset "UTF-8";

/* stylelint-disable import-notation */
@import "tailwindcss";

@theme {
    --color-bg: var(--color-neutral-800);
    --color-bg1: var(--color-neutral-600);
    --color-bg2: var(--color-neutral-500);
    --color-link: var(--color-blue-500);
    --color-text: var(--color-neutral-200);
    --font-mono: "Noto Sans Mono CJK JP", "Noto Sans Mono", "Source Code Pro", "Source Han Code JP", ui-monospace, monospace, "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-sans: "Noto Sans JP", "Noto Sans CJK JP", "Helvetica Neue", helvetica, arial, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Yu Gothic", meiryo, ui-sans-serif, system-ui, sans-serif, "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@layer base {
    html, body {
        @apply bg-bg font-sans text-text;
    }

    body {
        @apply flex flex-col min-h-screen;
    }

    a {
        @apply no-underline text-link;
    }

    p {
        @apply mb-2;
    }

    h1 {
        @apply font-bold mb-4 text-4xl;
    }

    input {
        @apply border-2 border-text px-2 py-1 rounded-md;
    }
}
